<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" /> -->
<link rel="stylesheet" href="css/swiper-bundle.min.css">


<section class="carousel desktop">
  <div class="container">
    <section class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-item">
            <div class="wrapper">
              <div class="slide-item__img">
                <img src="img/news_preview_big.jpg" alt="">
              </div>
              <div class="slide-item__content">
                <div>
                  <h6>Поставка деталей трансмиссии</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi magna nec, eu massa in semper
                    adipiscing
                    enim neque.</p>
                </div>
                <button class="btn btn-calculate">
                  <div class="btn-icon__calc"></div>
                  <span>Расчитать заказ</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-item">
            <div class="wrapper">
              <div class="slide-item__img">
                <img src="img/news_preview_big.jpg" alt="">
              </div>
              <div class="slide-item__content">
                <div>
                  <h6>Поставка деталей трансмиссии</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi magna nec, eu massa in semper
                    adipiscing
                    enim neque.</p>
                </div>
                <button class="btn btn-calculate">
                  <div class="btn-icon__calc"></div>
                  <span>Расчитать заказ</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-item">
            <div class="wrapper">
              <div class="slide-item__img">
                <img src="img/news_preview_big.jpg" alt="">
              </div>
              <div class="slide-item__content">
                <div>
                  <h6>Поставка деталей трансмиссии</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi magna nec, eu massa in semper
                    adipiscing
                    enim neque.</p>
                </div>
                <button class="btn btn-calculate">
                  <div class="btn-icon__calc"></div>
                  <span>Расчитать заказ</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-item">
            <div class="wrapper">
              <div class="slide-item__img">
                <img src="img/news_preview_big.jpg" alt="">
              </div>
              <div class="slide-item__content">
                <div>
                  <h6>Поставка деталей трансмиссии</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi magna nec, eu massa in semper
                    adipiscing
                    enim neque.</p>
                </div>
                <button class="btn btn-calculate">
                  <div class="btn-icon__calc"></div>
                  <span>Расчитать заказ</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button_wrapper">
        <div class="swiper-button-_prev"></div>
        <div class="swiper-button-_next"></div>
      </div>

    </section>
  </div>
  <div class="swiper-shadow"></div>
</section>



<!-- </section> -->

<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script>
  var sliderSelector = '.swiper-container',
    options = {
      init: false,
      loop: true,
      speed: 800,
      slidesPerView: 3,
      spaceBetween: 0,
      centeredSlides: true,
      effect: 'coverflow',
      grabCursor: true,
      parallax: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: '.swiper-button-_next',
        prevEl: '.swiper-button-_prev',
      },
    };
  var mySwiper = new Swiper(sliderSelector, options);
  mySwiper.init();
</script>