<footer>
  <section class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col footer-wrapper">
          <div class="footer-brandName">
            <a href="#">
              <img src="img/logo footer .jpg" alt="">
              <span>a registred trademark<br>fastairtm all rights reserved 2020</span>
            </a>
          </div>
          <div class="footer-contact-link">
            <a class="footer-contact-link__mail" href="mailto:aog@fastair.aero">aog@fastair.aero</a>
            <a class="footer-contact-link__phone" href="tel:+44 2037 693407">+44 2037 693407</a>
          </div>
          <nav class="footer-nav">
            <a href="about.html">О компании</a>
            <a href="services.html">УСЛУГИ</a>
            <a href="news.html">Новости</a>
            <a href="docs.html">Документы</a>
            <a href="contacts.html">Контакты</a>
          </nav>
          <img class="desktop" src="img/footer_img.jpg" alt="">
          <div class="footer-elevator"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-down">
    <div class="container">
      <div class="row footer-down__wrapper">
        <p class="footer-down_adress">EFTEC USA<br>LLC Las Vegas, NV, USA 89117<br>+44 2037 693407</p>
        <p class="footer-down_adress">EFTEC (UK) LIMITED<br>London, UK, EC2M 5QQ<br>+44 2037 693407</p>
        <p class="footer-down_adress">FASTAIR BALTIC<br>Latvia, Riga, LV-2167<br>+44 2037 693407</p>
        <p class="footer-down_adress">FASTAIR INTERNATIONAL<br>Moscow, Russia, 121471<br>+7 (495) 120-03-00</p>
      </div>
    </div>
  </section>
</footer>  
<script src="js/index.js"></script>
</body>
</html>