<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <title>FastAir</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
  <link rel="icon" type="image/png" href="/img/favicon.png" />
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col header_wrapper">
          <div class="brandName">
            <a href="index.html">
              <img src="img/logo.svg" alt="BrandLogo">
            </a>
          </div>
          <div class="userNav">
            <a class="userNav_phone-icon desktop" href="tel:+74951200300"><span>+7 495 120 03 00</span>
            </a>
            <span class="userNav_separator desktop"></span>
            <div class="userNav_language ">
              <button>RU</button>
              <button>EN</button>
            </div>
            <span class="userNav_separator desktop"></span>
            <button class="menuToggle">
              <div class="menuToggle_icon">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <span class="desktop">МЕНЮ</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="top-menu">
    <div class="top-menu__panel">
      <div class="top-menu__panel___header">
        <a class="userNav_phone-icon mobile" href="tel:+74951200300"><span>+7 495 120 03 00</span>
        </a>
        <button class="btn close-menu">
          <span></span>
          <span></span>
        </button>
      </div>
      <nav>
        <div class="menu-item"><a href="index.html"><span><b>Главная<b></span></a></div>
        <div class="menu-item"><a href="about.html"><span>О компании</span></a></div>
        <div class="menu-item ">
          <div class="submenu">
            <span class="submenu__toggle"><a href="services.html">Услуги</a></span>
            <div class="submenu__link"></div>
          </div>
          <div class="nav-accordion">
            <div class="menu-item"><a href="__aircraft_parts_supply.html"><span>ПОСТАВКА АВИАЗАПЧАСТЕЙ</span></a></div>
            <div class="menu-item"><a href="#"><span>ТАМОЖЕННОЕ ОФОРМЛЕНИЕ</span></a></div>
            <div class="menu-item"><a href="#"><span>МЕЖДУНАРОДНЯЯ И ВНУТРЕНЯЯ ЛОГИСТИКА</span></a></div>
            <div class="menu-item"><a href="#"><span>РЕМОНТ КОМПОНЕНТОВ, ДВИГАТЕЛЕЙ И ВСУ</span></a></div>
            <div class="menu-item"><a href="#"><span>ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ ВС</span></a></div>
            <div class="menu-item"><a href="#"><span>РАЗБОР И УТИЛИЗАЦИЯ ВС</span></a></div>
            <div class="menu-item"><a href="#"><span>КОНСАЛТИНГ И АВИАЦИОННЫЕ АКТИВЫ</span></a></div>
            <div class="menu-item"><a href="#"><span>УСЛУГИ ФИЗИЧЕСКИМ ЛИЦАМ</span></a></div>
          </div>
        </div>
        <div class="menu-item"><a href="news.html"><span>Новости</span></a></div>
        <div class="menu-item"><a href="docs.html"><span>Документы и cертификаты</span></a></div>
        <div class="menu-item"><a href="contacts.html"><span>Контакты</span></a></div>
      </nav>
    </div>
  </section>