<!--  -->
<section class="slideShow">
  <div class="slide-show slide-show_index">
    <div class="slide-item">
      <div class="slide-item__image">
        <img src="img/slideIndex_1.jpg" alt="">
      </div>
      <div class="slide-item__content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 wrapper">
              <div class="content-text">
                <h1 class="title-head"><b>ПОСТАВКА</b><br> ЗАПАСНЫХ ЧАСТЕЙ<br> И ДЕТАЛЕЙ</h1>
                <h2 class="title-description">ДЛЯ гражданской<br> бизнес-авиации </h2>
                <button class="btn action btn-orange"><a href="__aircraft_parts_supply.html">Подробнее</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-item">2</div>
  </div>
</section>
<!--  -->
<script src="js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $('.slide-show_index').slick({
    arrows:false
  });
</script>